* {
    box-sizing: border-box;
}

html,
body {
  background:#02264a;
    height: 100%;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container {
    height: 25vmin;
    width: 25vmin;
    background-color: teal;
}

.container-one {
    padding: 1vmin;
}

.container-two, .container-three, .container-four {
	display: flex;
	justify-content: center;
	align-items: center;
}

.orbiting-circle {
    height: 25%;
    width: 25%;
    background-color: darkred;
    border-radius: 50%;
    animation: orbit 10s ease-in-out infinite; 
}

@keyframes orbit {
    0% { transform: translate(0,0); }
    5% { transform: translate(0,0); } 
    25% { transform: translate(300%,0%); } 
    30% { transform: translate(300%,0%); } 
    50% { transform: translate(300%,300%); } 
    55% { transform: translate(300%,300%); }
    75% { transform: translate(0%,300%); }
    80% { transform: translate(0%,300%); }
    100% { transform: translate(0%,0%); }
}

.morphing-circle {
    height: 25%;
    width: 25%;
    background-color:darkred;	
    border-radius: 50%;
    transition: border-radius .5s ease, 
                background-color .5s ease, 
                transform .5s ease .5s;
    animation: morphing-circle-square 5s ease-in-out infinite;
}

.container-two:hover .morphing-circle {
    border-radius: 0;
    background-color:  white;
    transform: rotate(90deg);
}

@keyframes morphing-circle-square {
    0% {border-radius: 50%}
    25% { 
        border-radius: 50%;
        background-color: darkred;
    }
    50% {
        border-radius: 0%;
        background-color: white;
        transform: rotate(0deg);
    }
    75% { /* stay a white square, but rotate 90deg */
        border-radius: 0%;
        background-color: white;
        transform: rotate(90deg);   
    }
    100% { /* stay rotated at 90, but change back to a circle */
        border-radius: 50%;
        background-color: darkred;
        transform: rotate(90deg);
    }
}

.circle-left{
    margin: 10px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    height: 25%;
    width: calc(25%/2); 
    background-color:darkred;
    transition: border-radius .5s ease, 
                background-color .5s ease, 
                transform .5s ease .5s;
    animation: circle-left 2s ease-in-out infinite; 
}

.circle-right {
    margin: 10px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    height: 25%;
    width: calc(25%/2);
    background-color:darkred;
    transition: border-radius .5s ease, 
                background-color .5s ease, 
                transform .5s ease .5s;
    animation: circle-right 2s ease-in-out infinite; 
}

@keyframes circle-left {
    0% { transform: translate(0,0); }
    50% { transform: translate(10px,0); } 
    100% { transform: translate(0%,0%); }
}

@keyframes circle-right {
    0% { transform: translate(0,0); }
    50% { transform: translate(-10px,0); }
    100% { transform: translate(0%,0%); }
}

.beating-circle {
    height: 25%;
    width: 25%;
    background-color:darkred;	
    border-radius: 50%;
    transition: border-radius .5s ease, 
                background-color .5s ease, 
                transform .5s ease .5s;
    animation: beating-circle 5s ease-in-out infinite;
}

@keyframes beating-circle {
    
    1% {transform: scale(1.0);}
    3% {transform: scale(1.2);}
    5% {transform: scale(1.0);}
    7% {transform: scale(1.2);}
    9% {transform: scale(1.0);}

    51% {transform: scale(1.0);}
    53% {transform: scale(1.2);}
    55% {transform: scale(1.0);}
    57% {transform: scale(1.2);}
    59% {transform: scale(1.0);}
      
}
